In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.5.3-cp310-cp310-win_amd64.whl (10.4 MB)
     --------------------------------------- 10.4/10.4 MB 72.6 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\plabo\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
     ------------------------------------- 499.4/499.4 kB 98.1 kB/s eta 0:00:00
Collecting numpy>=1.21.0
  Downloading numpy-1.24.2-cp310-cp310-win_amd64.whl (14.8 MB)
     -------------------------------------- 14.8/14.8 MB 115.0 kB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\plabo\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.24.2 pandas-1.5.3 pytz-2022.7.1

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('wine.csv')

In [5]:
df

,Unnamed: 0,item_code,item_name,display_level,selectable,sort_sequence
0,0,AA0,All items - old base,0,T,2
1,1,AA0R,Purchasing power of the consumer dollar - old ...,0,T,400
2,2,SA0,All items,0,T,1
3,3,SA0E,Energy,1,T,375
4,4,SA0L1,All items less food,1,T,359
...,...,...,...,...,...,...
395,395,SSEA011,College textbooks,3,T,314
396,396,SSEE041,Smartphones,4,T,335
397,397,SSFV031A,Food at elementary and secondary schools,3,T,122
398,398,SSGE013,Infants' equipment,3,T,356
399,399,SSHJ031,Infants' furniture,3,T,165

In [22]:
display(df.iloc[6:7,5:6])

   sort_sequence
6            363

In [18]:
display(df.loc[6:6])

,Unnamed: 0,item_code,item_name,display_level,selectable,sort_sequence
6,6,SA0L12E,"All items less food, shelter, and energy",1,T,363

In [26]:
df_temp = df.iloc[0:10]